.header {

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__menu{
    display: flex;
    gap: 20px;
    list-style: none;
}
.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

li:hover:nth-child(2n){
    color: orange;
}
.li:active{
    color: blue;
}
.li::after{
    content: "+";
    color: pink
}