:root {
  --color-primary: #ee00ff;
}
*{
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
/*@font-face{*/
/*  font-family: "Roboto";*/
/*  src: url('../fonts/Roboto-Regular.ttf')*/
/*}*/
body{
  font-family: Roboto, sans-serif;

}

